* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}
.container {
    max-width: 1200px;
    width: 95%;
}
.text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    color: red;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: red;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
    background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}
.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}
.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}
.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track {
    background: red;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
@media only screen and (max-width: 1023px) {
.slider-wrapper .slide-button {
    display: none !important;
    }
.slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}
.slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
}
.slider-scrollbar .scrollbar-thumb {
    width: 20%;
}
}




:root {
    --modal-duration: 1s;
    --modal-color: red;
}
.modal-cont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button-modal {
    font-size: 18px;
    margin-right: 100px;
    background: red;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.button-modal:hover {
    background: #404040
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}
.modal-header h2,
.modal-footer h3 {
    margin: 0;
}
.modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-body {
    padding: 10px 20px;
    background: #fff;
}
.modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalopen {
    from {
    opacity: 0;
}
    to {
        opacity: 1;
    }
}